.blog-entries {
    display: grid;
    /*grid-auto-rows: 100px;*/
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
}

.blog-entry {
    border-radius: 8px;
    padding: 20px;
    color: #fff;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.blog-entry:nth-child(odd) {
    background-color: #9160cf;
}

.blog-entry:nth-child(even) {
    background-color: #631bc2;
}

.blog-title a {
    font-weight: 600;
    padding-left: 12px;
}

.blog-author p {
    margin-top: unset;
    margin-bottom: unset;
}

.blog-author, .blog-title {
    margin-top: auto!important;
    margin-bottom: auto!important;
}

.blog-title { grid-area: 1 / 1 / 2 / 2; }
.blog-author { grid-area: 1 / 2 / 2 / 3; }
.blog-summary { grid-area: 2 / 1 / 3 / 3; }

.blog-summary-text {
    overflow-wrap: break-word;
}

.fa-user {
    font-size: 18px;
    float: left;
    margin-right: 6px;
    margin-top: unset;
    margin-bottom: unset;
}



/* unvisited link */
a:link {
    color: unset;
}

/* visited link */
a:visited {
    color: unset;
}

/* mouse over link */
a:hover {
    color: unset;
}

/* selected link */
a:active {
    color: unset;
}
